body{

margin:0;

font-family:'Inter', sans-serif;

height:100vh;

display:flex;
align-items:center;
justify-content:center;

background:linear-gradient(135deg,#3b2df7,#f0b2e5);

background-size:200% 200%;

animation:gradiente 8s ease infinite;

position:relative;

}

/* logo marca d'água */

body::after{

content:"";

position:fixed;

right:40px;
bottom:40px;

width:220px;
height:220px;

background-image:url("/static/img/imagem.png");

background-repeat:no-repeat;

background-size:contain;

opacity:0.20;

pointer-events:none;

}

/* animação do fundo */

@keyframes gradiente{

0%{
background-position:0% 50%;
}

50%{
background-position:100% 50%;
}

100%{
background-position:0% 50%;
}

}

.login-container{

width:100%;

display:flex;
justify-content:center;

}

.login-box{

width:280px;

background:rgb(243, 239, 247);

padding:45px;

border-radius:14px;

box-shadow:0 15px 40px rgba(0,0,0,0.2);

}

.logo-titulo{

display:flex;

align-items:center;

justify-content:center;

gap:10px;

margin-bottom:10px;

}

.titulo{

font-size:28px;

font-weight:600;

color:#582996;

margin:0;

}

.logo{

width:40px;

}

.subtitulo{

text-align:center;

color:#3c0470;

margin-bottom:30px;

}

.login-box input{

width:100%;

padding:12px;

margin-bottom:16px;

border-radius:6px;

border:1px solid #43028d;

font-size:14px;

}

.login-box input:focus{

outline:none;

border-color:#6f00ff;

}

.login-box button{

width:100%;

padding:12px;

background:#5c4bf0;

color:white;

border:none;

border-radius:6px;

font-weight:500;

cursor:pointer;

}

.login-box button:hover{

opacity:0.9;

}

#erro{

color:red;

text-align:center;

margin-top:10px;

}

.recuperar-senha{
margin-top:10px;
font-size:14px;
color:#007bff;
cursor:pointer;
}

.recuperar-senha:hover{
text-decoration:underline;
}

@media (max-width:700px){

body::after{

width:120px;
height:120px;

right:15px;
bottom:15px;

}

}