<!DOCTYPE html>
<html>

<head>

<title>Login - Hotelzinho Kids</title>

<link rel="icon" href="/static/img/icone.png">
<link rel="stylesheet" href="/static/css/login.css?v=5">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">

</head>

<body>

<div class="login-container">

<div class="login-box">

<div class="logo-titulo">

<h1 class="titulo">Hotelzinho Kids</h1>


</div>

<p class="subtitulo">
Sistema de gestão
</p>

<form id="loginForm">

<input
type="text"
id="username"
placeholder="Usuário"
>

<input
type="password"
id="password"
placeholder="Senha"
>

<button type="submit">
Entrar
</button>

<p class="recuperar-senha" onclick="abrirRecuperacao()">
Esqueceu a senha?
</p>

<p id="erro"></p>

</form>

</div>

</div>

<script src="/static/js/login.js"></script>

</body>
</html>